# Local .terraform folder
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

*.tfvars
.terraform.lock.hcl

# Odoo & Local Dev
*.pyc
__pycache__/
.env
.ipynb_checkpoints/
.vscode/

# Local Odoo Data
odoo-data/
db-data/
